{include file="header" /}
<script type="text/javascript">
    var upload_max = 1;
</script>
<div id="dcWrap">
    <div id="dcMain">
        <!-- 当前位置 -->
        <div id="urHere">管理中心<b>></b><strong>编辑友链</strong></div>
        <div id="manager" class="mainBox" style="height:auto!important;">

            <form>
                <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                    <tr>
                        <td width="100" align="center">网站名称</td>
                        <td>
                            <input type="text" name="title" value="{$item.title}" size="40" class="inpMain"/>
                        </td>
                    </tr>
                    <tr>
                        <!--上传图片-->
                        {include file="/upload" tip="网站Logo"}
                    </tr>
                    <tr>
                        <td align="center">url</td>
                        <td>
                            <input type="text" name="url" value="{$item.url}" size="80" class="inpMain" placeholder="请填写带协议头(http://)的完整url" />
                        </td>
                    </tr>
                    <tr>
                        <td align="center">描述</td>
                        <td>
                            <textarea type="text" name="description" value="{$item.description}" cols="80" rows="5" class="inpMain"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="hidden" name="type" value="1" />
                            <span class="btn">提 交</span>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="clear"></div>
    <div class="clear"></div>
</div>
<script type="text/javascript">
    var art_pro_url = "{:url('flink/edit',['id'=>$item.id])}";//form表单要提交的地址

</script>
</body>
</html>