{include file='header'}
<style type="text/css">.adver{display: none;}</style>
<div id="dcWrap">
    <div id="dcMain">
        <!-- 当前位置 -->
        <div id="urHere">管理中心<b>></b><strong>幻灯广告</strong></div>
        <div class="mainBox" style="height:auto!important;">
            <div class="idTabs">
                <div class="items">
                    <div id="banner_add">
                        <form method="post">
                            <table width="100%" border="0" cellpadding="5" cellspacing="1" class="tableBasic">
                                <tr>
                                    <td width="80" height="35" align="center">Banner类型</td>
                                    <td>
                                        <select name="type" id="sel-type">
                                            <option value="1" title="Banner大图" {if condition="$info['type'] eq 1"}selected="selected"{/if}>Banner大图</option>
                                            <option value="2" title="Banner广告" {if condition="$info['type'] eq 2"}selected="selected"{/if}>广告</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="80" height="35" align="center">标题</td>
                                    <td>
                                        <input type="text" id="banner_name" name="title" value="{$info.title}" size="19" class="inpMain"
                                               required="required"/>
                                    </td>
                                </tr>
                                <tr {if condition="$info['type'] eq 1"} class="adver"{/if} id='start_time' >
                                    <td width="80" height="35" align="center">开始时间</td>
                                    <td>
                                        <input type="text" name="start_time" value="{$info.start_time}" size="19" class="inpMain date-picker" />
                                        <span style="color:red;">日期格式：1990-01-01 00:00:00</span>
                                    </td>
                                </tr>
                                <tr {if condition="$info['type'] eq 1"}class="adver"{/if} id='end_time'>
                                    <td width="80" height="35" align="center">结束时间</td>
                                    <td>
                                        <input type="text" name="end_time" value="{$info.end_time}" size="19" class="inpMain date-picker" />
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <span class="btn"> 提交 </span>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var art_pro_url = "{:url('banner/edit',['id'=>$info.id])}";

    $("select[name='type']").change(function(){
        var typeid = $(this).val();
        if(typeid == 2){
            $("#start_time").addClass('.adver');
            $('.adver').show();
        }else{
            $('.adver').hide();
        }
    });
</script>
</body>
</html>