<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>[title]</title>
    {css href="__STATIC__/admin/css/supersized.css,__STATIC__/admin/css/login.css,__STATIC__/admin/css/bootstrap.min.css"}
    {js href="__STATIC__/admin/js/jquery.min.js,__STATIC__/admin/js/wang.js,__STATIC__/common/js/common.js" /}
<!--    {js href="__STATIC__/common/js/layer.js"}
    {css href="__STATIC__/common/js/skin/default/layer.css"}-->
    {css href="__STATIC__/admin/css/public.css,__STATIC__/admin/css/admin.css"}
</head>